{% extends 'main_layout.html.twig' %}

{% block header %}
	<header class="header">
		<div class="gold-bar top-bar-font">
			<div class="gold-bar__container">
				<div class="left-side">
					<ul>
						<li>
							<img src="images/Pin.png" alt="pin"/>
							Location
						</li>
						<li>
							<img src="images/Envelope.png" alt="mail"/>
							Mail us
						</li>
						<li>
							<img src="images/LoginKey.png" alt="Login"/>
							Login
						</li>
					</ul>
				</div>

				<div class="right-side">
					<img src="images/Search.png" alt="Search"/>
					<span>DE</span>
					<span>EN</span>
				</div>
			</div>
		</div>

		<div class="brown-bar">
			<div class="brown-bar__container">
				<div class="main-title hotel-font">
					<h1>Hotel</h1>
				</div>

				<div class="main-menu main-menu-font">
					<ul>
						<li>Home</li>
						<li>About</li>
						<li>Rooms</li>
						<li>Services</li>
						<li>Blog</li>
						<li>Contact</li>
					</ul>
				</div>
			</div>
		</div>

	</header>
{% endblock %}

{% block content %}
	<section class="banner">
		<img class="banner__img" src="images/banner.png" alt="banner">
		<div class="overlay"></div>
		<div class="banner__cta">
			<h2 class="main-title-font">Fell like home, but better.</h2>
			<p class="sub-title">World-famous. Deeply relaxing.</p>
			<button class="btn medium-bold-text">LEARN MORE</button>
		</div>
		<div class="banner__follow">
			<span class="sub-title-higher">Follow us</span>
			<img class="banner__social" src="images/face.png">
			<img class="banner__social" src="images/insta.png">
		</div>

		<div class="banner__carusel">
			{% for product in products %}
				<a class="banner-apartment" href="room/{{product.slug}}">
					<img src={{ product.images[0].url }} alt="apartman">
					<div class="banner-apartment__info">
						<div>
							<p class="sub-title-higher black-text">{{ product.title }}</p>
							<p class="medium-bold-text gold-text">View details ></p>
						</div>
						<div class="banner-apartment__price">
							<p class="price-text black-text">{{ product.formatted_price }}</p>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>

	<section class="aboutUs">
		<div class="aboutUs_cta">
			<h2 class="section-title">Comfort & Design to relax in Luxury Hotel</h2>
			<h5 class="sub-title black-text">Every day is a new day for relaxation</h5>
			<button class="btn medium-bold-text">about us</button>
		</div>
		<div class="aboutUs__quote">
			<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
													Pellentesque mattis gravida metus quis varius. Nullam sit amet 
													fringilla velit, non pretium nibh. Etiam condimentum diam 
													sapien, a hendrerit est pellentesque. Etiam condimentum diam 
													sapien, a hendrerit est pellentesque. Etiam condimentum diam 
													sapien, a hendrerit est pellentesque.</p>
			<div class="aboutUs__quote--person">
				<h5 class="sub-title-higher">John Johnson</h5>
				<p class="paragraph">General manager</p>
			</div>
		</div>
	</section>

	<section class="content">
		<h2 class="section-title">Best Apartments</h2>
		<div class="content__apts">
			{% for product in products %}
				<a class="apartment" href="room/{{product.slug}}">
					<img src={{ product.images[0].url }} alt="apartman">
					<div class="apartment__info">
						<div>
							<p class="sub-title-higher black-text">{{ product.title }}</p>
							<p class="medium-bold-text gold-text">View details ></p>
						</div>
						<div class="banner-apartment__price">
							<p class="price-text black-text">{{ product.formatted_price }}</p>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</section>

	<section class="service">
		<div class="service__left">
			<div class="service__group">
				<img src="images/blacbcgr.png" alt="background" class="service__left__img"/>
				<div class="service__text">
					<h2 class="section-title">Excellent service</h2>
					<h4 class="sub-title">Every day is a new day for relaxation.</h4>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Pellentesque mattis gravida metus quis varius. Nullam sit amet 
						fringilla velit, non pretium nibh. Etiam condimentum diam 
						sapien, a hendrerit est pellentesque. Etiam condimentum diam 
						sapien, a hendrerit est pellentesque. Etiam condimentum diam 
						sapien, a hendrerit est pellentesque.
					</p>
					<p class="service__text__more medium-bold-text gold-text">Learn more ></p>
				</div>
			</div>

			<div class="service__offer">
				<div class="perk">
					<div class="perk__img">
						<img src="images/Hotel Single Bed 1.png" alt="bed"/>
					</div>

				</div>

				<div class="perk">
					<div class="perk__img">
						<img src="images/Room Service Bring Plate.png" alt="plate"/>
					</div>

				</div>

				<div class="perk">
					<div class="perk__img">
						<img src="images/Coffee Cup Hot.png" alt="coffee"/>
					</div>
				</div>
			</div>

			<div class="service__texts">
				<div class="perk__text">
					<h5 class="sub-title-higher black-text">Orthopedic beds</h5>
					<p class="paragraph black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ispum.</p>
				</div>

				<div class="perk__text">
					<h5 class="sub-title-higher black-text">Extraordinary cousine</h5>
					<p class="paragraph black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mattis gravida.</p>
				</div>

				<div class="perk__text">
					<h5 class="sub-title-higher black-text">Custom coffee</h5>
					<p class="paragraph black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>

		</div>
		<div class="service__right">
			<img src="images/maid.png" alt="Maid"/>
		</div>
	</section>

	<section class="news">
		<div class="news__bckgr"></div>
		<div class="news__title">
			<h2 class="section-title">Recent news</h2>
		</div>
		<div class="news__slider">
			{% for new in news %}
				<div class="element">
					<div class="element__promo">
						<img src="images/Tags.png" alt="tag"/>
						<div>
							<h3 class="promo-text">Promo price!</h3>
							<p class="date-text">August 25-31</p>
						</div>
					</div>
					<img src={{new.image}} alt="soba"/>
					<div class="element__text">
						<div class="element__fade">
							<p class="medium-bold-text">{{ new.category }}</p>
						</div>
						<div class="element__title">
							<p class="sub-title-higher black-text">{{ new.title }}</p>
						</div>
						<div class="element__desc">
							<p class="paragraph black-text">{{ new.description }}</p>
						</div>
						<div class="element__more">
							<p class="sub-title-higher gold-text">Learn more ></p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="features">
			<img src="images/Rectangle22.png" alt="rectangle"/>
			<div class="features__rectangle">
				<h2 class="section-title black-text">Discover a Hotel features</h2>
				<p class="paragraph black-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Pellentesque mattis gravida metus quis varius. Nullam sit amet 
			fringilla velit, non pretium nibh. Etiam condimentum diam sapien, 
			a hendrerit est pellentesque. Etiam condimentum diam sapien, 
			a hendrerit est pellentesque.
				</p>
				<button class="btn medium-bold-text">BOOK NOW</button>
			</div>
		</div>
	</section>

	<section class="reviews">
		<h2 class="section-title black-text">Guest reviews</h2>
		<div class="reviews__carousel">

			{% for review in reviews %}
				<div class="reviews__element">
					<div class="reviews__element--person">
						<div class="person-info">
							<img src={{ review.user.profile_image }} alt={{ review.user.name }}>
							<div>
								<p class="sub-title-higher black-text">{{ review.user.name }}</p>
								<p class="paragraph black-text">Copywriter</p>
							</div>
						</div>
						<div class="person-rate">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
					</div>
					<div class="reviews__element--quote">
						<p class="paragraph black-text">{{ review.comment }}</p>
					</div>
				</div>
			{% endfor %}

		</div>
	</section>
{% endblock %}
{% block footer %}
	<footer class="footer">
		<div class="info">
			<div class="info__container">
				<div class="first-col">
					<div>
						<h2 class="hotel-font-small">Hotel</h2>
						<p class="medium-normal-text">Every day is a new day for relaxation.</p>
					</div>
					<div>
						<span class="sub-title-higher">Follow us</span>
						<img class="banner__social" src="images/face.png">
						<img class="banner__social" src="images/insta.png">
					</div>
				</div>
				<div>
					<p class="sub-title-higher margina">Address</p>
					<p class="paragraph gray-text">London</p>
					<p class="medium-bold-text">Main street 1 London, CA 70413</p>
					<p class="medium-bold-text margina">Open: 9:30AM 5:30PM</p>
					<p class="paragraph gray-text">New York</p>
					<p class="medium-bold-text">Great street Broadway, NT 10013</p>
					<p class="medium-bold-text">Open: 8:30AM 4:30PM</p>
				</div>
				<div class="medium-bold-text">
					<p class="margina-l">Contact us</p>
					<p>
						<a href="tel:+448004567891">+44 (800) 456-78-91</a>
					</p>
					<p class="margina-l">hotel.london@mail.com</p>
					<p>
						<a href="tel:+18104567891">+1 (810) 456-78-91</a>
					</p>
					<p>hotel.ny@mail.com</p>
				</div>
				<div>
					<p class="margina">Stay in touch</p>
					<form action="#">
						<input type="email" placeholder="Your email" class="email-input paragraph">
						<button class="form-button">subscribe</button>
					</form>
				</div>
			</div>
		</div>

		<div class="legal">
			<div class="legal__container">
				<p class="legal-text">@2020, Frontend akademija</p>
				<div class="legal__container--right">
					<p class="legal-bold-text">Privacy Policy</p>
					<p class="legal-bold-text">Site map</p>
					<p class="legal-text gray-text">All Rights Reserved</p>
				</div>
			</div>

		</footer>
	{% endblock %}
